<div ng-controller="mainCtrl">
	<h1>тута</h1>

<a href="#!/" >goto</a>
<a href="#!/about">fdfd</a>


<!--бутстрап бутсрапыч ёхохохо-->
	<div class="row">
	  <div class="col-md-12" >
	  	
	  	
			<ul style="padding-left:0;" ui-sortable="sortableOptions" ng-model="lists">
		 	  
		 	 	<li type="none" ng-repeat="item in lists track by $index">
		 	 	<div class="row market">
		 	 	<div class="col-md-3">
		 	 		{{ item.name }}
		 	 	</div>
		 	 	<div class="col-md-3">
		 	 		{{ item.adress }}
		 	 		<br>
		 	 		<a href="#!/googlemaps">google map</a>
		 	 	</div>
		 	 	<div class="col-md-3">
		 	 		{{ item.product }}
		 	 	</div>
		 	 	 <div class="col-md-3">{{$index}}</div> 	
		 	 	   
					
				</div>	
		 	 	</li>
		 	  
			</ul>
	  </div>	
	</div>
	
</div>
